.section {
  width: 100%;
  display: grid;
  place-items: center;
  margin: 100px 0 0 0;
}

.frArt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.frArtContent {
  display: flex;
  align-items: left;
  flex-direction: column;
  row-gap: 50px;
  width: 50%;
}

.frArtTitle {
  font-size: 3rem;
  font-weight: 700;
  color: var(--dark-blue);
  max-width: 600px;
}

.frArtText {
  font-size: 1.1rem;
  color: var(--dark-grayish-blue);
  max-width: 350px;
  line-height: 1.5;
}

.imgCont {
  width: 50%;
}

.img {
  object-fit: cover;
  width: 100%;
}

.scdArt {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 100px 0;
}

.scdArtContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.scdArtTitle {
  color: var(--dark-blue);
  font-size: 2rem;
}

.scdArtText {
  color: var(--dark-grayish-blue);
  width: 100%;
  max-width: 450px;
}

.listCont {
  width: 40%;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.titleCont {
  display: flex;
  align-items: center;
  column-gap: 20px;
  color: var(--dark-blue);
  font-weight: 700;
}

.id {
  color: var(--very-light-gray);
  background-color: var(--bright-red);
  padding: 7px 20px;
  border-radius: 30px;
}

.listText {
  color: var(--dark-grayish-blue);
  font-weight: 400;
  width: 85%;
  position: relative;
  left: 15%;
  text-align: justify;
}

@media (max-width: 50em) {
  .section {
    width: 90%;
    margin: auto;
    z-index: -1;
  }

  .frArt {
    flex-direction: column-reverse;
    row-gap: 30px;
  }

  .frArtContent {
    width: 100%;
    align-items: center;
    row-gap: 25px;
  }

  .frArtTitle {
    text-align: center;
    font-size: 2.2rem;
    max-width: 100%;
  }

  .frArtText {
    font-size: 1rem;
    text-align: center;
    max-width: 100%;
  }

  .imgCont {
    width: 100%;
  }

  .scdArt {
    flex-direction: column;
    row-gap: 50px;
  }

  .scdArtContent {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .scdArtText {
    max-width: 90%;
  }

  .listCont {
    width: 100%;
  }

  .list {
    row-gap: 35px;
  }

  .item {
    row-gap: 20px;
  }

  .titleCont {
    column-gap: 10px;
    font-size: 1rem;
    position: relative;
    white-space: nowrap;
  }

  .titleCont::after {
    position: absolute;
    content: "";
    top: -10%;
    left: 0;
    height: 120%;
    width: 100%;
    background-color: var(--very-pale-red);
    border-radius: 30px;
    z-index: -1;
  }

  .id {
    font-size: 0.9rem;
  }

  .listText {
    width: 100%;
    left: 0%;
    text-align: left;
  }
}