.sliderCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 60px;
  text-align: center;

}

.title {
  color: var(--dark-blue);
  font-size: 2rem;
}

.slider {
  display: flex;
  place-items: center;
  height: max-content;
  list-style: none;
  column-gap: 40px;
}

.testimonial {
  background-color: var(--very-light-gray);
  width: 450px;
  height: 130px;
  position: relative;
  cursor: grab;
  border-radius: 5px;
  padding: 20px;
}

@media (max-width : 50em) {
  .testimonial {
    width: 300px;
  }
}


.profileImg {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 60px;
  height: 60px;
}

.testimonialName {
  margin: auto;
  color: var(--dark-blue);
  font-size: 0.9rem;
  font-weight: 700;
  margin: 30px 0 15px 0;
}

.text {
  color: var(--dark-grayish-blue);
  font-weight: 400;
  font-size: 0.8rem;
}

.buttonCont {
  margin: auto;
}